* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #535A88;
}
#main{
    margin: 2vh auto;

    align-self: center;
    background: #101322;
    width: 75vw;
    height: 95vh;
    border: none;
    border-radius: 1vw;
}

#banner{
    display: flex;
    /* background-color: aquamarine; */
    width: 75vw;
    height: 6vh;
}

#chart{
    background-color: #85C7D3;
    width: 70vw;
    height: 50vh;
    display: flex;
    margin: 1vh auto;
    align-self: center;
    border-radius: 1vw;
}

#bottom {
    display: flex;
    width: 70vw;
    align-items: center;
    margin: 1vh auto;
    justify-content: center;
    align-items: center;

}
#bottom *{
    margin: 0 0.5vw;
}
#userinput{
    background-color: #171B27;
    opacity: 0.7;
    width: 30vw;
    height: 35vh;
    border-radius: 1vw;
    margin-left: 0;
}

#config{
    background-color: #e5d0c0;
    opacity: 0.7;
    width: 20vw;
    height: 35vh;

    border-radius: 1vw;
}
#TBD{
    background-color: #B7BFFE;
    opacity: 0.7;
    width: 20vw;
    height: 35vh;
    margin-right: 0;
    border-radius: 1vw;
}

#loader{
    justify-content: center;
    align-items: center;
    
    position: relative;
    display: none;
    left: 50%;
    transform: translate(-50%);

    margin-top: 20px;

}
#loader span{
    width: 10px;
    height: 48px;
    margin: 0 13px;
    background-color: #fff;
    animation: animate 1.4s linear infinite;

}
#loader span:nth-child(1){
    animation-delay: 0s;
}
#loader span:nth-child(2){
    animation-delay: 0.2s;
}
#loader span:nth-child(3){
    animation-delay: 0.4s;
}
#loader span:nth-child(4){
    animation-delay: 0.6s;
}
#loader span:nth-child(5){
    animation-delay: 0.8s;
}
#loader span:nth-child(6){
    animation-delay: 1.0s;
}
#loader span:nth-child(7){
    animation-delay: 1.2s;
}

@keyframes animate
{
    0%
    {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }

    50%
    {
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        opacity: 1;
        transform: translateX(0px ) scale(1.2);
    }

    100%
    {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(50px) scale(1);
    }
}